#CI workflow
#This work flow will provide continuous intergration for the repository by
#running a python linter on every push and pull request to the main branch.
#or by manual trigger.
#This workflow uses the popular pylint linter to check for code quality
#detects the common syntax and logical errors in python code.

name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff

      - name: Run linter (ruff)
        run: |
          ruff check .
